body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  width: 800px;
  margin: 0px auto 0px;
  background-color: lightslategray;
}

a {
  color: #00B7FF;
}
.done-true {
  text-decoration: line-through;
  color: lightgray;
  font-style: italic;
}
.wrapper {
    text-align: left;
}
