body{
    background-image: url(/images/people.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.middle {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  width: 1200px;
  margin: 0 auto;
    background: rgba(216,216,216,0.8);
}
h1 {
    text-align: center;
    margin: -10px auto 10px;
}
.done-true {
  text-decoration: line-through;
  color: lightgray;
  font-style: italic;
}
.wrapper {
    text-align: center;
}
li.list-group-item {
    opacity: 0;
    animation: list-group-item-animation .7s linear forwards;
}
@keyframes list-group-item-animation {
    from {
        opacity: 0;
        transform: translateY(-400px);
    }

    to {
        opacity: 1;
        transform : translateY(0);
    }
}
